 <%= form_with(model: [post, comment]) do |form| %>
   <%= form.hidden_field :post_id %>

   <%= form.text_area :content, placeholder: "Enter Comment"%>

   <ul>
    <% comment.errors.full_messages_for(:content).each do |error| %>
     <li><%= error %></li>
    <% end %>
   </ul>

   <div class="actions">
    <%= form.submit %>
   </div>
<% end %>