
<%= turbo_frame_tag "follows" do %>
		<% users.each do |user| %>
		<div class="grid grid-cols-2 gap-4 mb-2">
			<div>
				<%= link_to "#{user.user_name}", user_path(user.id), data: { turbo: "false" }, class:"bg-rose-900 hover:bg-rose-800 text-white font-bold py-1 px-4 text-base border-blue-700 hover:border-blue-500 rounded no-underline" %>
			</div>
			<div>
		    <% if current_user.following_relationships.find_by(follower_id: current_user.id, following_id:user.id, accepted:true)%>
		      <%= button_to "Unfollow", follow_path({follow:{following: user.id, follower: current_user.id}, id: user.id}), method: :delete, class:"bg-violet-500 hover:bg-violet-400 text-white font-bold py-1 px-4 text-xs border-blue-700 hover:border-blue-500 rounded no-underline" %>
			  <% elsif current_user.following_relationships.find_by(follower_id: current_user.id, following_id:user.id, accepted:false)%>
			    <%= button_to "Delete Request", follow_path({follow:{following: user.id, follower: current_user.id}, id: user.id}), method: :delete, class:"bg-violet-500 hover:bg-violet-400  text-white font-bold py-1 px-4 text-xs border-blue-700 hover:border-blue-500 rounded no-underline" %>
			  <% else %>
			      <%= button_to "Follow", follows_path(follow:{following: user.id, follower: current_user.id}), method: :post, class:"bg-violet-500 hover:bg-violet-400  text-white font-bold py-1 px-4 text-xs border-blue-700 hover:border-blue-500 rounded no-underline"%>
				<% end %>
			</div>
		</div>
		<% end %>
<% end %>