<div class="flex flex-row min-h-screen justify-center">
	<div>
		<h1> <%= @user.user_name%></h1>
		<%= image_tag(@user.profile_photo, class:"rounded-full")%>
		<%= link_to "Edit Profile", edit_user_registration_path(current_user.id) if current_user == @user %>

		<div>
			<% if current_user == @user %>
				<%= render partial: "requests", locals: {request: @request, user: @user} %>
			<% end %> 
		<h3> Followers: </h3>

		<% @user.followers.each do |follower| %>
			<ul class="list-none">
				<li><%= link_to "#{follower.user_name}", user_path(follower.id), class:"bg-rose-900 hover:bg-rose-800 text-white font-bold py-1 px-4 text-xs border-blue-700 hover:border-blue-500 rounded no-underline no-underline" %> </li>
			</ul>
		<% end %> 
		<h3> Following: </h3>

		<% @user.following.each do |following| %>
			<ul>
				<li><%= link_to "#{following.user_name}", user_path(following.id) %> </li>
			</ul>
		<% end %> 
	</div>
</div>

<div class="w-2/5 m-10 mt-40 ">
	<div class="m-3 ">
		<% if current_user == @user %>
			<%= link_to "New Post", new_post_path, class:"bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded no-underline" %>
		<% end %> 
		<% Post.where(user: @user).each do |post| %>
		  <%= render post %>
	  <% end %> 
	</div>

	</div>
</div>