
<h1> Profile for <%= @user.email%> </h1>

<%= button_to "Follow", follow_user_path(@user) %>

<h3> Followers: </h3>

<% @user.followers.each do |follower| %>
<ul>
<li><%= follower.email %> </li>
</ul>
<% end %> 

<h3> Following: </h3>

<% @user.following.each do |following| %>
<ul>
<li><%= following.email %>
<%= link_to "Unfollow", follow_path(following), data: {
                  turbo_method: :delete
                } %>
              </li>
</ul>
<% end %> 