
<h1> Profile for <%= @user.email%> </h1>

<%= button_to "Follow", follow_user_path(@user) %>

<% @requests.each do |request| %>
	<ul>
		<li>
		<%= request.follower.email %>
		<%= button_to "Accept Request", follow_user_path(request.follower.id), method: :patch %>
		</li>
	</ul>
<% end %> 

<h3> Followers: </h3>

<% @user.followers.each do |follower| %>
	<ul>
		<li><%= follower.email %> </li>
	</ul>
<% end %> 

<h3> Following: </h3>

<% @user.following.each do |following| %>
	<ul>
		<li><%= following.email %> </li>
	</ul>
<% end %> 