<% if current_user == @user %>
	<h1> My Profile</h1>
<% else %>	
	<h1> <%= @user.email%>'s Profile </h1>
<% end %>	

<% if current_user != @user %>
	<%= render partial: "following", locals: {user: @user} %>
<% end %> 

<% if current_user == @user %>
	<%= render partial: "requests", locals: {request: @request, user: @user} %>
<% end %> 

	<h3> Followers: </h3>

	<% @user.followers.each do |follower| %>
		<ul>
			<li><%= follower.email %> </li>
		</ul>
	<% end %> 

	<h3> Following: </h3>

	<% @user.following.each do |following| %>
		<ul>
			<li><%= following.email %> </li>
		</ul>
	<% end %> 
<%# <% end %> 