
<h1> Profile for <%= @user.email%> </h1>

<div id="follow-form">
	<%= form_for @user do |f| %>
		<div id="follow-input"> <%=hidden_field_tag @user.id%> </div>
	  <%= f.button "Follow"%>
	<% end %>
</div>

<h3> Followers: </h3>

<% @user.followers.each do |follower| %>
<ul>
<li><%= follower.email %> </li>
</ul>
<% end %> 

<h3> Following: </h3>

<% @user.following.each do |following| %>
<ul>
	<li><%= following.email %> </li>
</ul>
<% end %> 